:root {
    --primary-color: #185ee0;
    --secondary-color: #e6eef9;
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #A6A6A6;
    font-size: 18px;
    text-decoration: none;
}

a:hover{
    color: #000;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}


.hero{
    width: 100%;
    padding: 40px 0 130px 0;
    background: #F5F5F5;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    display: flex;
    align-items: center;
}

.menu-main{
    margin-right: 130px;
}


.menu-main a:last-child{
    margin-right: 0;
}
.menu-main a{
    margin-right: 40px;
}

.menu-btns a:last-child{
    margin-right: 0;
}
.menu-btns a{
    margin-right: 20px;
}

.active-btn{
    padding: 10px;
    background: #54BD95;
    color: #fff;
    border-radius: 10px;
}


/* Intro */

.intro{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}


.intro-text{
    max-width: 555px;
    width: 100%;
}


.text-main{
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
}

.text-line{
    margin: 30px 0 50px 0;
}


.text-sub{
    max-width: 461px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}

.text-btns a:last-child{
    margin-right: 0;
}
.text-btns a{
    margin-right: 40px;
}

.text-btns, .demo{
    display: flex;
    align-items: center;
}

.demo span{
    margin-left: 10px;
}

/* Intro  */


/* Partner Logo */

.partners{
    margin-top: 130px;
}

.partners-title{
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-align: center;
}


.partners-logo{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partner Logo */


/* Support */

.support{
    width: 100%;
    padding: 130px 0;
    background: #F9F8FE;
}

.support-text{
    max-width: 617px;
    width: 100%;
}

.support-text__main{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

.support-text__subtext{
    font-size: 16px;
    color: #A6A6A6;
    margin-bottom: 75px;
}

.stars-raiting{
    color: #191A15;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.raiting-bold{
    font-weight: bold;
}

.stars-text{
    color: #A6A6A6;
    font-size: 18px;
}

.support-stars{
    display: flex;
    gap: 40px;
}


.support-container__body{
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.analyz-block:first-child{
    margin-top: 0;
}
.analyz-block{
    max-width: 510px;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.analyz-icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analyz-title{
    font-size: 28px;
    color: #191A15;
    margin-bottom: 10px;
    font-weight: bold;
}

.analyz-description{
    color: #A6A6A6;
    font-size: 18px;
    line-height: 30px;
}

/* Support */


/* Features */

.features{
    width: 100%;
    padding: 130px 0;
    background: #FEFEFD;
}


.features-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 113px;
}

.features-title{
    max-width: 331px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #191A15;
}

.features-text{
    max-width: 461px;
    width: 100%;
    color: #A6A6A6;
    font-size: 18px;
    line-height: 30px;
}

.features-header__link a{
    color: #fff;
    background: #54BD95;
    border-radius: 70px;
    padding: 20px 30px;
}

.features-content__item{
    max-width: 365px;
    width: 100%;
}

.features-content{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-content__title{
    color: #191A15;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.features-content__description{
    color: #A6A6A6;
    font-size: 18px;
    line-height: 30px;
}

/* Features */

/* Benefits */

.benefits-title{
    max-width: 429px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.benefits-container__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits-list ul li:first-child{margin-top: 0;}
.benefits-list ul li{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.benefits-list ul li img {
    margin-right: 10px;
}

.benefits-bg{
    position: relative;
}


.benefits-comment{
    max-width: 304px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 12px 20px;
    position: absolute;
    height: 82px;
    top: 30px;
    left: -100px;
}

.benefits-bg__image{
    position: relative;
}


.benefits-comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}


.about-title{
    font-weight: bold;
    margin-bottom: 15px;
}

.about-description{
    color: #A6A6A6;
}

.benefits-total{
    max-width: 140px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 150px;
    right: -70px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-price{
    display: flex;
    justify-content: space-between;
}

.total-title{
    color: #A9A7B6;
}

.transfer{
    position: absolute;
    bottom: 0;
    left: -100px;
    max-width: 360px;
    height: 70px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Benefits */


/* Plans */

.plans-header{
    padding: 130px 0 102px 0;
    text-align: center;
}

.plans-title{
    max-width: 492px;
    width: 100%;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.plans-description{
    font-size: 18px;
    color: #A6A6A6;
}


.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 25px;
    max-width: 333px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 70px auto;
}
.tabs * {
    z-index: 2;
}
input[type="radio"] {
    display: none;
}
.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}
.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in;
}
input[type="radio"]:checked + label {
    color: #fff;
}
input[type="radio"]:checked + label > .notification {
    background-color: var(--primary-color);
    color: #fff;
}
input[id="radio-1"]:checked ~ .glider {
    transform: translateX(-80px);
}
input[id="radio-2"]:checked ~ .glider {
    transform: translateX(50%);
}
input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}
.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 155px;
    background-color: #54BD95;
    z-index: 1;
    border-radius: 15px;
    transition: 0.25s ease-out;
}
@media (max-width: 700px) {
    .tabs {
        transform: scale(0.6);
   }
}


.plans-item{
    max-width: 374px;
    width: 100%;
    min-height: 554px;
    padding: 40px 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
    box-shadow: -7px 10px 15px 0px rgba(0,0,0,0.14);
    margin-bottom: 50px;
}

.plans-header__item{
    text-align: center;
}

.plans-title__item{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.plans-description{
    font-size: 18px;
    color: #A6A6A6;
    min-height: 50px;
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.plans-price{
    font-size: 50px;
    margin-bottom: 30px;
}

.plans-price sup{
    color: #a6a6a6;
}

.plans-body{
    width: 100%;
    padding: 26px 37px;
    background: #F9FAFB;
}

.plans-list{
    margin-bottom: 30px;
}

.plans-list ul{
    list-style: none;
}


.plans-list ul li:first-child{
    margin-top: 0;
}
.plans-list ul li {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #191A15;
    font-size: 18px;
}
.plans-list ul li img{
    max-width: 25px;
    margin-right: 15px;
}

.plans-btn a{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    display: inline-block;
    background: #fff;
    border-radius: 20px;
}

.plans-content{
    display: flex;
    justify-content: space-between;
}

.plans-btn a:hover{
    background: #54bd95;
    color: #fff;
}

/* Plans */

/* Footer */

.footer{
    width: 100%;
    padding: 130px 0 40px 0;
    background: #161C28;
}

.recomendation-title{
    color: #fff;
    font-size: 50px;
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
}

.recomendation-subtitle{
    color: #A6A6A6;
    max-width: 450px;
    width: 100%;
    margin-bottom: 42px;
}

.recomendation-sign{
    margin-bottom: 40px;
}

.recomendation-quote{
    color: #A6A6A6;
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;
}

.recomendation-quote__author{
    color: #A6A6A6;
    margin-bottom: 40px;
}

.recomendation-people ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top__right{
    max-width: 700px;
    width: 100%;
}

.footer-form{
    padding: 40px 80px;
    max-width: 700px;
    width: 100%;
    background: #222938;
    text-align: center;
    border-radius: 20px;
}

.footer-form__title{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
}

.footer-form__main{
    text-align: left;
}

.footer-form__label{
    margin-bottom: 20px;
}

.footer-form__label label{
    color: #fff;
    font-size: 18px;
}

.footer-form__input input{
    width: 100%;
    padding: 17px 0 17px 20px;
    border-radius: 10px;
}

.footer-form__input textarea{
    width: 100%;
    resize: none;
    padding: 20px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.footer-form__item:first-child{
    margin-top: 0;
}
.footer-form__item{
    margin-top: 20px;
}

.footer-form__item button{
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #54BD95;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.footer-middle{
    margin-top: 170px;
}

/* Footer */